In [ ]:
import pandas as pd
import geopandas as gpd
# https://www.countyhealthrankings.org/health-data/community-conditions/health-infrastructure/clinical-care/primary-care-physicians?year=2025&state=48&tab=1

In [2]:
data = pd.read_csv('texas-2025-primary-care-physicians-place-sort.csv')
data[data.isnull().any(axis=1)]

keep_row = data.iloc[0]
data = data.dropna()
data.iloc[0] = keep_row
# or 
# filtered_data = pd.concat([keep_row, data.iloc[1:].dropna()])
data

        County # Primary Care Physicians County Value**  National Z-Score
1        Texas                    17,818        1,660:1               NaN
2      Andrews                         9        2,050:1              0.15
3     Angelina                        57        1,520:1             -0.32
4      Aransas                         8        3,060:1              0.59
6    Armstrong                         0        1,840:0              1.49
..         ...                       ...            ...               ...
248    Winkler                         2        3,710:1              0.75
249       Wise                        27        2,660:1              0.45
250       Wood                        15        3,060:1              0.59
251     Yoakum                         2        3,800:1              0.77
252      Young                        15        1,200:1             -0.81

[221 rows x 4 columns]

In [3]:
def ratio(input):
    left, right = input.split(':')
    left = left.replace(',','')
    right = right.replace(',','')
    return float(right)/float(left)

data['County Value**'] = data['County Value**'].apply(ratio)
data.rename(columns={'County Value**':'Physician:Population'}, inplace=True)

In [4]:
data

,County,# Primary Care Physicians,Physician:Population,National Z-Score
1,Texas,"17,818",0.000602,NaN
2,Andrews,9,0.000488,0.15
3,Angelina,57,0.000658,-0.32
4,Aransas,8,0.000327,0.59
6,Armstrong,0,0.000000,1.49
...,...,...,...,...
248,Winkler,2,0.000270,0.75
249,Wise,27,0.000376,0.45
250,Wood,15,0.000327,0.59
251,Yoakum,2,0.000263,0.77
252,Young,15,0.000833,-0.81