In [6]:
import pandas as pd
import geopandas as gpd
# https://www.countyhealthrankings.org/health-data/community-conditions/health-infrastructure/clinical-care/primary-care-physicians?year=2025&state=48&tab=1

In [7]:
data = pd.read_csv('texas-2025-primary-care-physicians-place-sort.csv')
data[data.isnull().any(axis=1)]

keep_row = data.iloc[0]
data = data.dropna()
data.iloc[0] = keep_row
# or 
# filtered_data = pd.concat([keep_row, data.iloc[1:].dropna()])
data

        County # Primary Care Physicians County Value**  National Z-Score
1        Texas                    17,818        1,660:1               NaN
2      Andrews                         9        2,050:1              0.15
3     Angelina                        57        1,520:1             -0.32
4      Aransas                         8        3,060:1              0.59
6    Armstrong                         0        1,840:0              1.49
..         ...                       ...            ...               ...
248    Winkler                         2        3,710:1              0.75
249       Wise                        27        2,660:1              0.45
250       Wood                        15        3,060:1              0.59
251     Yoakum                         2        3,800:1              0.77
252      Young                        15        1,200:1             -0.81

[221 rows x 4 columns]

In [8]:
def ratio(input):
    left, right = input.split(':')
    left = left.replace(',','')
    right = right.replace(',','')
    return round((float(right)/float(left) * 100),4)

data['County Value**'] = data['County Value**'].apply(ratio)
data.rename(columns={'County Value**':'Physician:Population'}, inplace=True)

In [9]:
data

,County,# Primary Care Physicians,Physician:Population,National Z-Score
1,Texas,"17,818",0.0602,NaN
2,Andrews,9,0.0488,0.15
3,Angelina,57,0.0658,-0.32
4,Aransas,8,0.0327,0.59
6,Armstrong,0,0.0000,1.49
...,...,...,...,...
248,Winkler,2,0.0270,0.75
249,Wise,27,0.0376,0.45
250,Wood,15,0.0327,0.59
251,Yoakum,2,0.0263,0.77
252,Young,15,0.0833,-0.81

Graph z-scores with respect to each county (see which counties have more or less people per physician based on z-score)

Combine this data with demographics data to see if counties with lower physician:population metrics also tend to have more minorities